body {
  text-align: center;
  margin: auto;
}

h1 {
  font-style: normal;
  font-family: "Dosis", sans-serif;
  font-size: 32px;
}

span {
  color: #ee24ff;
}

p {
  color: #828282;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.texto2 {
  line-height: 50px;
}

strong {
  color: #000000;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3f3d56;
  font-weight: 700;
}
#footer {
  margin: 64px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

#footer a + a {
  margin-left: 28px;
}

#line {
  width: 560px;
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}

#rodape {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
}
